---
Language:        Cpp
Standard:        c++20

# General appearance:

BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 120
NamespaceIndentation: All
MaxEmptyLinesToKeep: 2
FixNamespaceComments: false

# Function declarations:

BinPackParameters: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true

DerivePointerAlignment: false
PointerAlignment: Left

SortIncludes: false
IncludeBlocks: Merge

AlignEscapedNewlines: Left
BreakBeforeTernaryOperators: false
ConstructorInitializerIndentWidth: 0
SortUsingDeclarations: false
IndentCaseLabels: true
IndentPPDirectives: AfterHash

...
